@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Playfair+Display&display=swap');

#container {
	width: 100vw;
	min-height: 100vh;
	background: url('../assets/home_background.jpg') no-repeat center center fixed;
	background-size: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
}

/* Artist title */

#title-container{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
}

h1 {
    color: #eaf0ce;
    font-family: 'Playfair Display', serif;
    text-align: center;
    transform: translate(-50%, -50%);
}

#title {
    font-weight: 700;
    display: inline-flex;
    margin: -5px;
    padding: 5px;
    letter-spacing: 5px;
} 

.title-letter {
    font-size: calc(6vw + 1rem);
    margin-left: -2px;
}

#sub-title {
    font-weight: 400;
    font-size: calc(0.6vw + 0.5rem);
    letter-spacing: calc(0.3vw + 0.5rem);
    text-transform: uppercase;
    position: relative;
    top: -5px;
}

/* Opacity For Start */
.title-letter, #sub-title {
  opacity: 0;   
}